@import "../../style/mixins";
@import "../../style/variables";

.Game {
  flex-basis: 50%;
  padding: 10px;
  position: relative;
  &__container {
    cursor: pointer;
    padding: 8px;
    position: relative;
    &__ribbon {
      pointer-events: none;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: $z-index-game;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;

      &__label {
        font-size: 10px;
        font-weight: 700;
        color: $color-ribon-label-buttons;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $background-active-buttons;
        box-shadow: 0 3px 10px -5px #000;
        position: absolute;
        top: 19px;
        right: -21px;
      }
    }
    &__jackpot {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 93%;
      display: flex;
      justify-content: center;
      top: 15px;
      color: $color-ribon-label-buttons;
      padding: 3px 0;
      span {
        font-weight: bold;
      }
    }
  }
  img {
    width: 100%;
  }
  @include medium {
    flex-basis: 33%;
  }
  @include large {
    flex-basis: 25%;
  }
  @include ex-large {
    flex-basis: 20%;
  }

  &__play-button {
    //circle
    cursor: pointer;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    display: none;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    &:after {
      //play button
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 14px);
      display: block;
      content: '';
      box-sizing: border-box;
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 26px 0 26px 40px;
    }
  }

  &:hover &__play-button {
      display: block;
  }
}
