$hamburger-layer-color: #fff;
$z-index-game: 1;
$z-index-header: 2;
$z-index-loader: 3;
$color-header: #3F3F3F;
$color-menu-buttons: #FFFFFF;
$color-ribon-label-buttons: #FFFFFF;
$background-ribon-label-buttons: #78bd1f;
