@import "../../../style/variables";

.jackpot {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 15px;
  left: 0;
  color: $color-ribon-label-buttons;
  padding: 3px 8px;
  &__container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    span {
      font-weight: bold;
    }
  }
}
